mixin listItem(className, link, text, btn, icon)
  li(class=`${className}__item`)
    if icon
      a(class=`${btn ? btn + ' ' : ''}${className}__link ${className}__link-${icon}`, href=link)
        span(class=`${className}__text visually-hidden`)= text
    else
      a(class=`${btn ? btn + ' ' : ''}${className}__link`, href=link)= text
